.title{
    text-align: center;
}

.radio{
    display: flex;
    gap: 1rem
}

.form{
    display: flex;
    flex-direction: column;
    gap:2vh;
    width: 25%;
    
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 600px;
  margin: auto;


}

.btn{
    text-decoration: none;
}

.addressBox{
    height: 5vh;
}

.dropdown{
    height: 5vh;
}

.formGroup{
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
  gap:0.5vh;
    font-size: 1.1rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.suggestions {

  max-height: 150px;
  overflow-y: auto;
  background: white;
  position: absolute;
  z-index: 10;
  width: 100%;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}


.dateGroup{
   margin-bottom: 1.2rem;
   gap:0.5vh;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.dateBox{
    height: 5vh;
}

.addressGroup{
    margin-bottom: 1.2rem;
   gap:0.5vh;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}