.addressLine{
    display: flex; 
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
    font-weight: 700;
}

.dateLine{
    display: flex; 
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.635);
}

.leftSide{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-evenly ;
    padding: 1%;
    width: 30vw;
    height: 10vh;

    
}

.rightSide{
    display: flex;
    align-items: flex-end;
}

.contain{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.162);
    width: 40vw;
}


.detailsBtn{
    width: 50%;
    margin-top: 10%;
      background:rgb(105, 170, 250);

}