.topDashboard{
     display: flex;
     justify-content:space-between;
    background-color:white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 15vh;
    width: 100vw;
    margin-bottom: 3%;
}

.userName{
  color: rgb(27, 26, 26);
  font-weight: 700;
  align-self: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.top{
    display: flex;
    background-color:white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 15vh;
    width: 100vw;
}


.dashboard{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.logoDash{
    cursor: pointer;
}