.containor22 {
  height: 100vh;
  margin-left: 12%;

}


.imagesArea{
    display: flex;
    width: 70vw;
    height: 70vh;
    gap: 15px;
    margin-top: 5%;
}

.rightSide{
    display: flex;
  flex-direction: column;

  height: 100%;
  width: 40%;
}

.leftSide{
   /* position: relative;   contain map */
  height: 100%;
  width: 60%;
  overflow: hidden; 
}

.topImage{
   width: 100%;
  height: 49%;
  object-fit: cover;
}

.bottomImage{
   width: 100%;
  height: 48%;
  object-fit: cover;
}

.details{
    display: flex;
    flex-direction: column;
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
    margin-top: 5%;
}

.locationInfo{
    font-size: 1.3rem;
    display: flex;
    gap: 2vw;
}

.locationIcon{
    font-size: 2rem;
}

.walkInfo{
    font-size: 1.3rem;
    display: flex;
    gap: 2vw;
    font-family: 'Times New Roman', Times, serif;
}

.walkIcon{
    font-size: 2rem;
}


.priceInfo{
    font-size: 1.3rem;
    display: flex;
    gap: 2vw;
    font-family: 'Times New Roman', Times, serif;
}

.moneyIcon{
    font-size: 2rem;
}

.starIcon{
    width: 6%;
}

.ratingInfo{
    display: flex;
    align-items: center;
    gap: 2.3%;
    font-size: 1.3rem;
}


.line2 {
  width: 100%;
  height: 1px;
  background-color: #4b3e3e;
   
}

.describe{
    max-width: 50%;
    font-size: 1.3rem;
    color: gray;
}


.middleArea{
    display: flex;
    justify-content: space-between;
    width: 65vw;
}

.cancelBox{

   background-color: rgb(197, 236, 236);
   border-radius: 5px;
   padding: 10px;
} 

.rowCancel{
    display: flex;
    gap: 3%;
    font-size: 1.1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
} 

.middleRight{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 3%;
    width: 33%;
}

.paymantIcons{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap:2%;
    border: 1px solid black;
    border-radius: 5px;
}

.visa{
    color:rgb(45, 45, 120);
}

.paypal{
    color: rgb(58, 58, 247);
    font-size: 1.5rem;
}

.google{
        font-size: 1.5rem;

}

.amex{
    color: rgb(55, 55, 209);
}

.masterCard{
    color:#FF3C00;
}

.master{
    max-width: 3vw;
}

.googlePay{
    max-width: 2vw;
}

.more{
    font-size: 1rem;
}
.bookNow{
    background-color: rgb(59, 59, 236);
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    width: 15%;
    height: 20%;
    color: whitesmoke;
    padding: 1.2%;
    border-radius: 9999px;
    border:1px black solid;
    margin-left: 4%;
    margin-top: 3%;
    cursor: pointer;
     text-decoration: none;
}

