.AddContainer{
    border-radius: 3px;
    background-color: #f2f2f2;   /* soft gray */
    padding: 3px;
    border-radius: 3px;
    position: relative; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 55vw;
    height: 25vh;
    display: flex;
    justify-content:flex-start;
    gap:3%;
      transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.AddContainer:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* slightly deeper */
  transform: translateY(-2px);                /* tiny lift */
}

.AddContainer img{
   max-height: 98%;   
   max-width: 35%;   
   object-fit: contain;
}




.carData{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}


.bottom{
    display: flex;
    gap: 5%;
}

.tag{
    background-color: rgb(219, 216, 216);
    width: fit-content;
    font-weight: 500;
    padding: 2px;
    margin-top: 15%;
}

.address{
    margin-bottom: 0;
    font-weight: 200;
    background-size:contain;
}

.price{
     position: absolute;
     bottom: 10px;             
     right: 10px; 
     font-size: 1.2rem; 
}

.distance{
    font-style: italic;
}