.question{
    display: flex;
    width: 50vw;
    height: 10vh;
    justify-content:space-between;
    align-items: center;
    background-color: whitesmoke;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid rgb(172, 162, 162);
}

.q{
    margin-left: 1vw;
    font-weight: 500;
}

.a{
     margin-left: 1vw;
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
}
.answer{
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content:space-between;
    background-color: rgb(250, 242, 221);
    border: 1px solid rgb(172, 162, 162);

    padding: 2px;
    border-radius: 5px;
}



.QaSymbol{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    
}

.symbol{
    font-size: 2rem;
    font-weight: 900;
    cursor: pointer;
    margin-right: 1vw;
}