
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('/assets/PARKLI-BACKGROUND.jpeg');
  background-size: cover;       /* Scales the image to cover the entire element */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center;
}




.navbar{
    display: flex;
    width: 85vw;
    justify-content: space-between;
    
}


.btnNavbar{
    display: flex;
    gap: 3%;
    
    height: 20%;
    width: 70%;
    
    
}

.btn{
    height: 50%;
    background: none;
  border: none;
  color: #444;; 
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  border: 1px solid #666; /* subtle box on hover */
  border-radius: 4px;
  color: #eee; /* lighter text on hover */
}



.logo{
    width: 10vw;
    
   
}

