
.firstSection{
  height: 93vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-image: url('/assets/PARKLI-BACKGROUND.jpeg');
  background-size: cover;     
  background-repeat: no-repeat; 
  background-position: center;
}




.homeHeader{
    display: flex;
    width: 100vw;
    height: 15vh;
    justify-content: space-between;
}

.topRightCorner{
  margin-right: 45px; 
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1000;   
  
}

.avatar{
  width: 3vw;
}

.linkChoice{
  color: whitesmoke;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.2rem;
}



.userName{
  color: rgb(27, 26, 26);
  font-weight: 700;
  align-self: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}





.btnNavbar{
    display: flex;
    margin-right: 3%;
    gap: 3%;
    justify-content:space-between;
    height: 45%;
    width: 40%;
    background-color: whitesmoke;
    border-radius: 5px;
    text-decoration: none;
    
    
}

.btn{
    height: 50%;
    background: none;
  border: none;
  color: #444;; 
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-decoration: none;
}




.text{
  text-align: center;
  margin-top: 8%;
  color: whitesmoke;
  font-size:1.8em;
  font-family:'geometric sans-serif';
}

.search-container {
  position: relative;
  width: 40vw;
  margin-top: 3%;
  
}

.search-input {
  width: 100%;
  padding: 2%;
  border: 1px solid rgba(255, 255, 255, 0.2); 
  border-radius: 9999px;
  font-size: 1.3rem;
  background-color: rgba(255, 255, 255, 0.4); 
  color: #fff; 
  backdrop-filter: blur(4px); 
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.85); 
  font-size: 1.3rem;
}

.search-button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  color: #fff; 
}




.middle{
  height: 80vh;
  background-color: rgba(247, 174, 85, 0.957);
}

.stars{
  color: rgb(255, 217, 4);
  font-size: 1.8rem;
  text-align: center;
}

.reviews{
  color: whitesmoke;
  font-size: 1.6rem;
  text-align: center;
}

.line1{
  color: whitesmoke;
  margin-bottom: 0;
  text-align: center;
  font-size: 2rem;
    font-weight: 600;

}

.line2{
  color:whitesmoke;
  margin-top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.image{
  width: 100px;         
    height: 100px;
    border-radius: 50%;   
    object-fit: cover;    
    border: 2px solid #ccc;
    align-content: center;
}

.user{
  color: whitesmoke;
  text-align: center;
  font-size: 1.2rem;
}

.container{
  text-align: center;
}

.middle{
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.QaA{
  align-items: center;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}

.frequently{
  font-size: 3rem;
  text-align: center;
  font-family:'geometric sans-serif';
}