
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('/assets/PARKLI-BACKGROUND.jpeg');
  background-size: cover;       /* Scales the image to cover the entire element */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center;
}




.header{
    display: flex;
    width: 85vw;
    justify-content:center;
    position: relative;
    
}




.btnNavbar{
    display: flex;
    gap: 3%;
    justify-content:space-between;
    height: 20%;
    width: 50%;
    background-color: whitesmoke;
    padding: 1%;
    border-radius: 5px;
    margin-left: 12%;
    
    
}

.btn{
    height: 50%;
    background: none;
  border: none;
  color: #444;; 
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}





.logo{
    width: 10vw;
    position: absolute;
  left: 0;
}


.text{
  text-align: center;
  margin-top: 8%;
  color: whitesmoke;
  font-size:1.8em;
  font-family:'geometric sans-serif';
}