
.firstSection{
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-image: url('/assets/PARKLI-BACKGROUND.jpeg');
  background-size: cover;     
  background-repeat: no-repeat; 
  background-position: center;
}




.homeHeader{
    display: flex;
    width: 100vw;
    height: 15vh;
    justify-content: space-between;
}

.topRightCorner{
  margin-right: 45px; 
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1000;   
  
}

.avatar{
  width: 3vw;
}

.linkChoice{
  color: whitesmoke;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.2rem;
}



.userName{
  color: rgb(27, 26, 26);
  font-weight: 700;
  align-self: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}





.btnNavbar{
    display: flex;
    gap: 3%;
    justify-content:space-between;
    height: 45%;
    width: 40%;
    background-color: whitesmoke;
    border-radius: 5px;
    text-decoration: none;
   
    
    
}

.btn{
    height: 50%;
    background: none;
  border: none;
  color: #444;; 
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-decoration: none;
}




.text{
  text-align: center;
  margin-top: 8%;
  color: whitesmoke;
  font-size:1.8em;
  font-family:'geometric sans-serif';
}

.middle{
  height: 80vh;
  background-color: rgba(247, 174, 85, 0.957);
}

.stars{
  color: rgb(255, 217, 4);
  font-size: 1.8rem;
  text-align: center;
}

.reviews{
  color: whitesmoke;
  font-size: 1.6rem;
  text-align: center;
}

.line1{
  color: whitesmoke;
  margin-bottom: 0;
  text-align: center;
  font-size: 2rem;
    font-weight: 600;

}

.line2{
  color:whitesmoke;
  margin-top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.image{
  width: 100px;         
    height: 100px;
    border-radius: 50%;   
    object-fit: cover;    
    border: 2px solid #ccc;
    align-content: center;
}

.user{
  color: whitesmoke;
  text-align: center;
  font-size: 1.2rem;
}

.container{
  text-align: center;
}

.middle{
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.QaA{
  align-items: center;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}

.frequently{
  font-size: 3rem;
  text-align: center;
  font-family:'geometric sans-serif';
}