.loginBox{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 20vh;
    justify-content: end;
    gap: 1vh;
    padding: 25px;
    border-radius: 3px;
    background-color:whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

/* Your custom CSS file */
.input.myComp {
   height: 10vh !important;
  /* You may also need to override the padding, 
     as it affects the total visual height */
  padding-top: 0; 
  padding-bottom: 0;
  box-sizing: border-box; /* Optional, but highly recommended */
}

.containor2{
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}


.line{
    width: 100vw;
    height: 1px;
    background-color: darkgray;
    
}


.footer{
  height: 20vh;         
  
  background: linear-gradient(to top, orange 0%, white 100%);
  position: fixed;       
  bottom: 0; 
}
