.names{
    display: flex;
    width: 30vw;
    gap: 5px
}

.n{
    width: 48%;
    height: 5vh;
}

.email{
    width: 29.6vw;
    height: 5vh;
}

.signup{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}


input::placeholder {
  font-size: 1rem; 
  color: #888;    
}

input:hover {
  border: 2px solid #4A90E2; 
  outline: none;            
  transition: border 0.8s ease; 
}

.submitBtn{
    color: whitesmoke;
    background-color: orange;
    font-weight: 700;
    border: none;
    width: 25%;
    height: 4vh;
    border-radius: 9999px;
    align-self: center;
    cursor: pointer;
}

.containor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 7vw;
    cursor: pointer;
   
}

.top{
    display: flex;
    background-color:white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 15vh;
    width: 100vw;
}

.password{
    height: 5vh;
}

.line{
    width: 100vw;
    height: 1px;
    background-color: darkgray;
    
}


.footer{
  height: 20vh;         
  
  background: linear-gradient(to top, orange 0%, white 100%);
  position: fixed;       
  bottom: 0; 
}


